<head>
    <title>Live Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/live.css') }}">
</head>

<body>
    <div class="container">
        <section id="header">
            <h1>Live Salty Teemo Stats</h1>

            {% if stats.betting_is_open %}
            <h3 id="open-status">Betting is OPEN</h3>
            {% else %}
            <h3 id="open-status">Betting is CLOSED</h3>
            {% endif %}
        </section>

        <div id="tug-of-war" class="flex-horizontal">
            <div id="blue-side"></div>
            <div id="red-side"></div>
        </div>

        <section id="red-blue-stats" class="flex-horizontal">
            <div id="blue-stats" class="flex-horizontal">
                <div class="flex-vertical">
                    <p class="section-title">Blue</p>

                    <div class="flex-vertical">
                        <p class="top">Bets</p>
                        <p class="bottom">{{stats.blue_bets}}</p>
                    </div>
                    <div class="flex-vertical">
                        <p class="top">Mushrooms</p>
                        <p class="bottom">{{stats.blue_mushrooms}}</p>
                    </div>
                </div>
            </div>
            
            <div id="red-stats" class="flex-horizontal">
                <div class="flex-vertical">
                    <p class="section-title">Red</p>

                    <div class="flex-vertical">
                        <p class="top">Bets</p>
                        <p class="bottom">{{stats.red_bets}}</p>
                    </div>
                    <div class="flex-vertical">
                        <p class="top">Mushrooms</p>
                        <p class="bottom">{{stats.red_mushrooms}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
