<title>Live Stats</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<body>
    <div class="container">
        <section id="header">
            <h1>Live Salty Teemo Stats</h1>

            {% if stats['betting_is_open'] %}
            <h3 id="open-status">Betting is OPEN</h3>
            {% else %}
            <h3 id="open-status">Betting is CLOSED</h3>
            {% endif %}
        </section>

        <div id="tug-of-war" class="flex-horizontal">
            <div id="blue-side"></div>
            <div id="red-side"></div>
        </div>

        <section id="red-blue-stats" class="flex-horizontal">
            <div id="blue-stats" class="flex-horizontal">
                <div class="flex-vertical">
                    <p class="section-title">Blue</p>

                    <div class="flex-vertical">
                        <p class="top">Bets</p>
                        <p class="bottom">{{stats['blue']['bets']}}</p>
                    </div>
                    <div class="flex-vertical">
                        <p class="top">Mushrooms</p>
                        <p class="bottom">{{stats['blue']['mushrooms']}}</p>
                    </div>
                </div>
            </div>
            
            <div id="red-stats" class="flex-horizontal">
                <div class="flex-vertical">
                    <p class="section-title">Red</p>

                    <div class="flex-vertical">
                        <p class="top">Bets</p>
                        <p class="bottom">{{stats['red']['bets']}}</p>
                    </div>
                    <div class="flex-vertical">
                        <p class="top">Mushrooms</p>
                        <p class="bottom">{{stats['red']['mushrooms']}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

<style type="text/css">
* {
    --background-surface: #0e0e10;
    --background-main: #18181b;
    --background-blue: #30a9de;
    --background-red: #e53a40;
    --font-color-light: #efeff1;
    --font-color-highlight: #a970ff;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background-main);
}

body * {
    color: var(--font-color-light);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.container {
    width: 50%;
    margin: 150px auto 0 auto;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 120px;
    background: var(--background-surface);
    box-shadow: 0 1px 5px #000;
    text-align: center;
    z-index: 99999;
}

#tug-of-war {
    position: fixed;
    top: 120px;
    right: 0;
    left: 0;
    height: 14px;
    z-index: 1000;
}

#tug-of-war #blue-side,
#tug-of-war #red-side {
    flex-grow: 1;
}

#tug-of-war #blue-side {
    background: var(--background-blue);
}

#tug-of-war #red-side {
    background: var(--background-red);
}

#red-blue-stats {
    width: 100%;
}

#blue-stats,
#red-stats {
    width: 50%;
    flex-grow: 1;
}

#blue-stats {

}

#red-stats {

}

.section-title {
    padding: 0;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}


@media screen and (max-width: 600px) {
    div.container {
        width: 90%;
    }
}
</style>
